/* *****************GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 50px 80px;
    display: flex;
    gap: 10px;
    height: 100vh;
    color: #323232;
    background: #50a3a2;
    background: -webkit-linear-gradient(top left, #50a3a2 0%, #78cc6d 100%);
    background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
}
.heading{
    text-transform: uppercase;
    margin: 0 auto;
}
/* *********************END OF GLOBAL */
/* /////////////////////POKEMON TYPE */
#pokemon-type{
    height: 80vh;
    width: 100px;
    /* background-color: #323232; */
}

#pokemon-type .items{
    height: 100%;
    /* background-color: #323232; */
    /* border: #323232 solid 5px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 5px;
}

#pokemon-type .items .item{
    height: 100%;
    width: 100%;
    margin: 5px 0px;
    background-color: #323232;
}
#main-container{
    height: 80vh;
    width: 100%;
    /* background-color: #323232; */
    display: flex;
    gap: 10px;
}



#main-container .pokemon-list-container{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    gap: 10px;
    background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#main-container .pokemon-list-container .buttons{
width: 100%;
height: 50px;
display: flex;
gap: 10px;
padding: 10px;
justify-content: center;
align-items: center;
}

#main-container .pokemon-list-container .buttons .button{
width: 40%;
height: 100%;
outline: none;
border:none;
background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#main-container .pokemon-list-container .pokemon-list{
width: 100%;
height: 100%;
padding: 2px;
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 2px;
overflow-y: auto;
scroll-behavior: smooth;
}
#main-container .pokemon-list-container .pokemon-list .pokemon-sprites{
width: 120px;
height: 120px;
background-color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;

background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#main-container .pokemon-list-container .pokemon-list .pokemon-sprites img{
object-fit: cover;

}
/* //////////////////////////////POKEMON INFO ///////////////////////////*/
#main-container .pokemon-info {
    width: 50%;
    /* height: 100%; */
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#main-container .pokemon-info .images{
height: 50%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
}

#main-container .pokemon-info .images img{
    height: 100%;
    object-fit: cover;
}


#main-container .pokemon-info .details{
width: 100%;
height: 50%;
display: flex;
flex-direction: column;
justify-content: space-around;
/* align-items: center; */
border-radius: 2px;
background-color: none;
/* padding: 10px 15px; */
/* overflow-y: hidden; */
}
#main-container .pokemon-info .details .items{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
list-style-type: none;
gap: 5px;
}

#main-container .pokemon-info .details .items .item{
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
gap: 5px;

background-color: white;
background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media screen and (max-width: 750px){
   body{
      
       flex-direction: column;
   }
   #pokemon-type{
       height: 0px;
   }
   #main-container{
       flex-direction: column;
   }
   #main-container .pokemon-list-container{
       width: 100%;
       height: 50%;
   }
#main-container .pokemon-list-container .pokemon-list{
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    justify-content: flex-start;
}

#main-container .pokemon-list-container .pokemon-list .pokemon-sprites{
    width: 80px;
    height: 80px;
}

#main-container .pokemon-list-container .pokemon-list .pokemon-sprites img {
    object-fit: cover;
    width: 70px;
}

#main-container .pokemon-info{
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

}